<div class="banner">
  <div class="container">
    <h1>  </h1>
    <p>  </p>
    <p><span data-controller="typed-js" data-message="<%=@messageH1%>" data-message2="<%= @messageP %>"></span></p>
  </div>
</div>
<%=  %>
