.card_info{
  color: black;
  padding: 5px;
  p{
    font-size: 10px;
    font-weight: lighter;
  }

}
.card_info h5 i{
  color: yellow;
  font-size: 15px;
}
.card_info a{
  color: red;
  font-size: 10px;
}
